In [1]:
# 필요한 모듈 임포트
import pandas as pd
import seaborn as sns

In [4]:
# 데이터 불러오기
tips = sns.load_dataset("tips")
tips.info()
tips.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.loc[0:3, ['sex', 'day']]

      sex  day
0  Female  Sun
1    Male  Sun
2    Male  Sun
3    Male  Sun

In [9]:
tips[tips.tip > 5]

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [15]:
tips[(tips.tip > 5) & (tips.sex =='Male')]

     total_bill    tip   sex smoker   day    time  size
23        39.42   7.58  Male     No   Sat  Dinner     4
44        30.40   5.60  Male     No   Sun  Dinner     4
47        32.40   6.00  Male     No   Sun  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
88        24.71   5.85  Male     No  Thur   Lunch     2
116       29.93   5.07  Male     No   Sun  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6
170       50.81  10.00  Male    Yes   Sat  Dinner     3
172        7.25   5.15  Male    Yes   Sun  Dinner     2
181       23.33   5.65  Male    Yes   Sun  Dinner     2
183       23.17   6.50  Male    Yes   Sun  Dinner     4
211       25.89   5.16  Male    Yes   Sat  Dinner     4
212       48.33   9.00  Male     No   Sat  Dinner     4
239       29.03   5.92  Male     No   Sat  Dinner     3

In [16]:
tips['day'].isin(['Sun'])

0       True
1       True
2       True
3       True
4       True
       ...
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [18]:
tips['total'] = tips['total_bill'] + tips['tip']
tips.head()

   total_bill   tip     sex smoker  day    time  size  total
0       16.99  1.01  Female     No  Sun  Dinner     2  18.00
1       10.34  1.66    Male     No  Sun  Dinner     3  12.00
2       21.01  3.50    Male     No  Sun  Dinner     3  24.51
3       23.68  3.31    Male     No  Sun  Dinner     2  26.99
4       24.59  3.61  Female     No  Sun  Dinner     4  28.20